# optical-
install python 
install vs code
https://www.python.org/downloads/

https://code.visualstudio.com/
     
<!-- in c direct install pip -->
pip install pip

<!-- flask install  -->
pip install Flask

<!-- to use cs50 for sqlite -->
pip install cs50 

<!-- to icnstall Session libary -->
-- pip install Flask-Session

pip install python-dotenv
<!-- install pytz -->
pip install pytz

<!-- to handell cash -->
pip install Flask-Caching  
  pip install -U flask-caching   

<!-- install email  -->
pip install Flask-Mail


<!--add  dotenv to make .env file -->
pip install dotenv
pip install python-dotenv
py -m venv new_environmen

  <!-- add env file -->
$ python3 -m venv venv # use `virtualenv venv` on Python 2
source venv/bin/activate




% add uponta
% https://ubuntu.com/tutorials/install-ubuntu-on-wsl2-on-windows-11-with-gui-support#1-overview

% wsl --install

% % Installation of WSL from the Microsoft Store

% or Windows Subsystem for Linux 

% 3. Download Ubuntu from the Microsoft Store
% Install Ubuntu from the command line
% wsl --list --online to see all available distros.

% wsl --install -d Ubuntu-20.04


% Use wsl -l -v to see all your currently installed distros and which version of WSL they are using:
% sudo apt update
% sudo apt full-upgrade
% sudo apt install x11-apps


% sudo apt install octave
% octave --gui &

% /in opunto
apt install sqlite3

% 
pip install numpy



% mysql
pip install pyproject-toml
pip install flask-mysqldb 

pip install pymysql

pip install python-time


pip install pycountry

pip install geopy


 pip install flask-qrcode

#
pip3 install pywhatkit 
