{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
 <div class="w-50  m-auto">
    <form action="/login" method="post">
        
        <div class="mb-3">
            <label for="username" class="col-sm-2 col-form-label">User Name</label>
            <input autocomplete="off" autofocus class="form-control " id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label for="Password" class="col-sm-2 col-form-label">Password</label>
            <input class="form-control " id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3  m-auto">
        <button class="btn btn-primary w-50" type="submit">Log In</button>
             </div>
    <div class="mb-3">
        <a class="btn btn-outline-primary" href="/register">Register</a>
        <a class="link link-info" href="/reset">Reset Password</a>
    </div>
    </form>
</div>

{% endblock %}
