{% extends "layout.html" %}

{% block title %}
Add model
{% endblock %}


{% block main %}
<div class="container w-75">
    <h1>Update  Model</h1>
<hr class="hr_lineBLAK">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}

    <div class="alert alert-danger">
        <strong>Error!<strong>{{message}}
    </div>

    {% endfor %}
    {% endwith %}

    {% if model_messag %}

    <div class="alert alert-primary">
        <strong>{{model_messag}} </strong>
    </div>

    {% endif %}


    <div class="w-75 m-auto" >
        {#Form to add proudeact #}
        <form action="/updateproduct" method="post">
            {# Select company #}
         
             {% for i in product %}
             <p for="user_id" class="text-center text-bg-info">Update  Product No : {{i['product_id']}}</p>
            <div class="form-group">
                <label for="companyname">Company  </label>
                <input type="text" class="form-control" value='{{i['company_id']}}:{{i['company_name']}} ' name="company_id" id="company_id" disabled>
            </div>

            {#>Brand Type#}
            <div class="form-group">
                <label for="brandType">Brand Type</label>
                <input type="text" class="form-control" value='{{i['brand_type']}}' name="brand_type" id="brand_type" disabled>
            </div>
            {#Brand Name#}
            <div class="form-group">
                <label for="brand_name">Brand </label>
                <input type="text" class="form-control" value='{{i['brand_id']}}:{{i['brand_name']}}' name="brand_id" id="brand_id" disabled>
            </div>

            {#ModelName#}
            <div class="form-group">
                <label for="ModelName "> Name </label>
                <input type="text" class="form-control" value='{{i['ModelName']}}' name="ModelName" id="ModelName" placeholder="Model Name">
            </div>
            {#Model no#}
            <div class="form-group">
                <label for="Model_no">Model No </label>
                <input type="text" class="form-control" value='{{i['Model_no']}}' name="Model_no" id="Model_no" placeholder="Model No ">
            </div>
            {#Cotegery#}
            <div class="form-group">
                <label for="cotegery">Cotegery</label>
                <select value='null' name="cotegery" id="cotegery" class="form-select" aria-label="Select Cotegery ">
                  
                  <option value='{{i['framCotegery']}}'>{{i['framCotegery']}}</option>
                    <option value='sun'> Sun Glasses</option>
                    <option value='glasses'>Eye Glasses</option>
                    <option value='Lens'> Lens</option>
                    <option value='ContactLens'>Contact Lens</option>
                    <option value='Accessories'>Accessories</option>
                </select>
            </div>


            {#CotegeryHistory#}
            <div class="form-group">
                <label for="CotegeryHistory">Cotegery History</label>
                <select name="CotegeryHistory" id="CotegeryHistory" class="form-select"
                    aria-label="Select History ">
                    <option value='{{i['framCotegeryHistory']}}'>{{i['framCotegeryHistory']}}</option>
                    <option value='new'>New </option>
                    <option value='offers'>Offers</option>
                    <option value='topSeller'>Top Seller</option>
                </select>
            </div>

            {#fram Collection#}
            <div class="form-group">
                <label for="Collection "> Collection </label>
                <select name="collection" id="collection" class="form-select" aria-label="Collection">
                    <option selected value='{{i['Collection_name']}}'>{{i['Collection_name']}}</option>
                    {% if cotgery %} {% for i in cotgery %}
                    <option value="{{i}}"> {{i}} </option>
                    {% endfor %} {% endif %}
                </select>
            </div>
            {#Color#}
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" value='{{i['color']}}' name="color" id="color" placeholder="color ">
            </div>
            {#Lens Size#}
            <div class="form-group">
                <label for="Size">Lens Size </label>
                <input type="text" class="form-control" value='{{i['lens_size']}}' name="size" id="size" placeholder="Size">
            </div>
            {# fram box arya id="fram_box"#}
            {%if i['brand_type']== 'Frams'%}
            <div >
                {#Bridge Size#}
                <div class="form-group">
                    <label for="Bridge">Bridge Size</label>
                    <input type="text" class="form-control" value='{{i['bridge_size']}}' name="bridge" id="bridge" placeholder="Bridge Size">
                </div>
                {#temple length#}
                <div class="form-group">
                    <label for="temple"> temple length </label>
                    <input type="text" class="form-control" value='{{i['temple_length']}}' name="temple" id="temple" placeholder="Temple">
                </div>
            </div>
            {%endif%}
            {# end for frame arya #}

            {# mixed arya for lens and contact lens id="maxIteam" style="display:none;"#}
            {%if i['brand_type']== 'Lens' or   i['brand_type']== 'ContactLens'%}
            <div >
                {#Lens Material#}
                <div class="form-group">
                    <label for="Lensmaterial"> Lens Material</label>
                    <select name="Lensmaterial" id="Lensmaterial" class="form-select" aria-label="Lens material">
                        <option value='{{i['Lensmaterial']}}' selected>{{i['Lensmaterial']}}</option>
                        <option value="Soft"> Plastic </option>
                        <option value="Hard"> Glasses </option>
                        <option value="Soft"> Soft </option>
                        <option value="Hard"> Hard </option>
                    </select>
                </div>
                {#Lens Type#}
                <div class="form-group">
                    <label for="lens_type">Lens Type</label>
                    <select name="lens_type" id="lens_type" class="form-select" aria-label="Select Lens Type">
                        <option value='{{i['lens_type']}}' selected>{{i['lens_type']}}</option>
                        <option value="Rx"> Rx </option>
                        <option value="ready"> Ready </option>
                    </select>
                </div>
                {# Lens Design #}
                <div class="form-group">
                    <label for="Lensdesign"> Lens Design</label>
                    <select name="Lensdesign" id="Lensdesign" class="form-select" aria-label="Lens Design">
                        <option value='{{i['lens_design']}}' selected>{{i['lens_design']}}</option>
                        <option value="Single"> Single Vision </option>
                        <option value="Toric"> Toric </option>
                        <option value="Multifocal"> Multifocal </option>
                        <option value="Bifoical"> Bifoical </option>
                    </select>
                </div>

                {#lens_cute#}
                {% set list1 = i['lens_cute'].split(',') %}

                <label for="lens_cute">Lens & contact Lens Cute </label>
                <div class="container">
                    {%if lens_cute %}
                   

                    {% for i in lens_cute %}
                    {%if i in list1 %}
                    <div class="row" style="width:50%; float:left;">
                        <div class="col order-last">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="{{i}}" name="lens_cute"
                                    value="{{i}}" checked/>
                                <label class="form-check-label" for="{{i}}">{{i}} </label>
                            </div>
                        </div>
                    </div>
                        {%else%}
                        <div class="row" style="width:50%; float:left;">
                            <div class="col order-last">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="{{i}}" name="lens_cute"
                                        value="{{i}}" />
                                    <label class="form-check-label" for="{{i}}">{{i}} </label>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                

                    {% endfor%} {%endif%}

                </div>
            </div>
            {%endif%}

            {%if i['brand_type']== 'Lens' %}

            {#lens box start id="lens_box" #}
            <div >
                {#Lens Index#}
                <div class="form-group">
                    <label for="lens_index "> Lens Index </label>
                    <select name="lens_index" id="lens_index" class="form-select" aria-label="Collection">
                        <option value='{{i['lens_index']}}' selected>{{i['lens_index']}}</option>
                        {% if lens_index %} {% for x in lens_index %}
                        <option value="{{ix}}"> {{x}} </option>
                        {% endfor %} {% endif %}
                    </select>
                </div>

            </div>
            {%endif%}
            {#end Lens area #}

            {# contact Lens Arya id="contactLens" style="display:none;" #}
            {%if i['brand_type']== 'ContactLens'%}
            <div >
                {#Lens Type#}
                <div class="form-group">
                    <label for="contactDuration">Lens Duration</label>
                    <select name="contactDuration" id="contactDuration" class="form-select"
                        aria-label="Select Contact Lens Duration">
                        <option value='{{i['Duration']}}' selected>{{i['Duration']}} </option>
                        <option value="Permanent"> Permanent </option>
                        <option value="year"> Year </option>
                        <option value="month"> Month </option>
                        <option value="week"> Week </option>
                        <option value="day"> Day </option>
                    </select>
                </div>
            </div>
            {%endif%}
            {# end contact Lens Arya#}
            <div class="clearBoth"></div>
            {##static box#}
            {#Quantity#}
            <div class="form-group">
                <label for="quant "> Quantity </label>
                <input type="Number" class="form-control" value='{{i['quant']}}' name="quant" id="quant" disabled>
            </div>
            {#Whole Price#}
            <div class="form-group">
                <label for="WholePrice ">Whole Price </label>
                <input type="Number" class="form-control" value='{{i['wholePrice']}}' name="wholePrice" id="wholePrice" >
            </div>
            {#Retial Price#}
            <div class="form-group">
                <label for="retialprice ">Retial Price </label>
                <input type="Number" class="form-control" value='{{i['retialPrice']}}' name="retialPrice" id="retialPrice" >
            </div>
            {#Discount#}
            <div class="form-group">
                <label for="discount "> Discount </label>
                <input type="Number" class="form-control" value='{{i['discount']}}' name="discount" id="discount" >
            </div>
            {#TAX#}
            <div class="form-group">
                <label for="discount "> TAX </label>
                <input type="text" class="form-control"  value='{{i['tax']}}' name="tax" id="tax" >
            </div>

            {#UPC code#}
            <div class="form-group">
                <label for="UPCcode"> UPC code </label>
                <input type="text" class="form-control" value='{{i['UPCcode']}}' name="UPCcode" id="UPCcode" placeholder="UPC code">
            </div>
            {#SKU Code#}
            <div class="form-group">
                <label for="SKUCode "> SKU Code </label>
                <input type="text" class="form-control" value='{{i['SKUCode']}}' name="SKUCode" id="SKUCode" placeholder="SKU Code ">
            </div>
            {#Description#}
            <div class="form-group">
                <label for="description "> Description </label>
                <input type="text" class="form-control" value='{{i['item_description']}}' name="description" id="description" placeholder="Description">
            </div>

            {#End static area#}

            <div class="form-group">
                <input type="number" value='{{i['product_id']}}' name="productUpdate" id="productUpdate" hidden>
                <button type="submit" class="btn btn-primary">Updat Iteam</button>
            </div>
{%endfor%}

        </form>
    </div>
   
</div>



{% endblock %}